.App{
    text-align: left;
    display: block;
    width: 30%;
    margin: 0 auto;
    padding: 5em;
}

.headCard-container{
  display: block;
  width: 100%;
  margin-bottom: 2em;
}

.nameInput-container{
  display: block;
  width: 100%;
  margin-bottom: 2em;
}

.multipleChoice-container{
  display: block;
  width: 100%;
  margin-bottom: 2em;
}

.form-container{
    display: block;
    width: 100%;
    margin-bottom: 2em;
}

.shortText-container{
  display: block;
  width: 100%;
  margin-bottom: 2em;
}